* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
}

body {
	font-family: calibri;
}

header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	-webkit-app-region: drag;
	background: #353535;
}

.option {
	padding: 10px 25px;
	font-size: 1.5rem;
	cursor: pointer;
	color: white;
	-webkit-app-region: no-drag;
}

.option:hover {
	background: red;
}

div#filePicker {
    align-self: stretch;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
}

div#mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

div#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* edit image css */

div#imageControls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: row;
flex-wrap: wrap;
}
div#preview {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	flex-direction: column;
}

div#imageEditor {
    display: flex;
    flex-direction: row;
    flex-grow: 1
}

div#liveEffects {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* slider */

.range-slider {
  text-align: center;
  width: 100%;
}

.slider-input {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.slider-input::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.slider-input:active::-webkit-slider-thumb {
  background: #1abc9c;
}

/* slider */

.effect {
    flex: 1;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.goBack {
    width: 90px;
    height: 90px;
    background: #d7dcdf;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
}

.effectName {
    margin-bottom: 40px;
    font-size: 2.5rem;
}

div#preview {
    background: #4c4c4c;
}

div.effectType:hover {
    background: #e6e6e6;
}

div.effectType {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    font-size: 1.5rem;
    cursor: pointer;
    border: 3px solid #eee;
}

header:before {
    content: 'Crazy Images';
    position: absolute;
    left: 15px;
    top: 8px;
    color: white;
    font-size: 25px;
}

div#usefulButtons div {
    padding: 10px 25px;
    margin: 10px;
    background: #353535;
    color: white;
    cursor: pointer;
}


div#usefulButtons {
    align-self: stretch;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}